@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

tooltip {
   background: @base;
}

* {
   background: none;  
}

#window {
   font-family: Monaspace Krypton;
   font-size: 14px;
   background: @base;
   padding: 0px 6px;
   border-radius: 0px 0px 8px 0px;
}

#workspaces {
   font-family: Monaspace Krypton;
   font-size: 14px;
}
#workspaces button {
   border-radius: 0px;
   background: @lavender;
   font-weight: bold;
   color: @base;
}
#workspaces button:first-child {
   border-radius: 0px 0px 0px 8px;
}
#workspaces button:last-child {
   border-radius: 0px 0px 8px 0px;
}
#workspaces button.empty {
   background: @base;
   font-weight: normal;
   color: @text;
}
#workspaces button.active {
   background: @blue;
   color: @base;
   font-weight: bold;
}
#workspaces button.urgent {
   background: @red;
   color: @base;
   font-weight: bold;
}

#backlight {
   font-family: Monaspace Krypton;
   font-size: 14px;
   background: @base;
   padding-left: 12px;
   border-radius: 0px 0px 0px 8px;
}
#pulseaudio {
   font-family: Monaspace Krypton;
   font-size: 14px;
   background: @base;
   padding-right: 6px;
}
#pulseaudio.muted {
   font-family: Monaspace Krypton;
   font-size: 14px;
   background: @base;
   color: @red;
   padding-right: 6px;
}
#clock {
   font-family: Monaspace Krypton;
   font-size: 14px;
   background: @mantle;
   padding: 0px 12px 0px 12px;
}
#tray {
   background: @crust;
   padding: 0px 6px;
}
#tray menu {
   font-family: Inter;
   font-size: 13px;
   background: @base;
   font-family: Inter;
   font-size: 13px;
}
